<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/timepicker@1.11.14/jquery.timepicker.min.css">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!-- Jquery UI css -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
  <!-- Jquery Insert-->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <!-- Jquery timePicker-->
  <script src="//cdn.jsdelivr.net/npm/timepicker@1.11.14/jquery.timepicker.min.js"></script>
  <!-- Jquery UI -->
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js" integrity="sha256-0YPKAwZP7Mp3ALMRVB2i8GXeEndvCq3eSl/WsAl1Ryk="
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js" integrity="sha256-xI/qyl9vpwWFOXz7+x/9WkG5j/SVnSw21viy8fWwbeE="
    crossorigin="anonymous"></script>
  <!-- bootstrap -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- Javascript files -->
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/cssDesign.js"></script>
</head>

<body>
  <div id='gradient'>
    <form action="/db" method="POST" id='user_info'>
      <!--HOST NAME & EMAIL-->
      <div class='box_container'>
        <div class='box'>
          <label>Name</label>
          <input name="name" placeholder="Your name" type="text">
        </div>
        <div class='box'>
          <label>Email</label>
          <input name="email" placeholder="Your email" type="email">
        </div>
        <button class='btn btn-info btn-sm'><i class='glyphicon glyphicon-arrow-right'></i></button>
      </div>
      <!--TITLE & DESCRIPTION-->
      <div class='box2'>
        <label>Title</label><br>
        <input name="title" placeholder="Your event title here" type="text"><br>
        <label>Description</label>
        <textarea name="description" id="description" placeholder="Your event description" cols="30" rows="10"></textarea>
        <button class='right btn btn-info btn-sm'><i class='glyphicon glyphicon-arrow-right'></i></button>
        <button class='left btn btn-info btn-sm'><i class='glyphicon glyphicon-arrow-left'></i></button>
      </div>
      <!--TIME SLOT PICKER-->
      <div id='time-picker'>
        <!-- <button id='new_date'>add date</button> -->
        <label>Pick a Date</label>
        <input name='date' type='text' class='date'><br>
        <label>From</label>
        <input name='from_time' type="text" class='time start'>
        <label>To</label>
        <input name='to_time' type='text' class='time end'><br>
        <button class='left btn btn-info btn-sm'><i class='glyphicon glyphicon-arrow-left'></i></button>
        <input value="Send my schgoogle!" type="submit" class='submit'>
      </div>

    </form>
  </div>
</body>

</html>