<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
  <link rel="stylesheet" href="//cdn.jsdelivr.net/npm/timepicker@1.11.14/jquery.timepicker.min.css">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <!-- Jquery UI css -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
  <!-- Jquery Insert-->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <!-- Jquery timePicker-->
  <script src="//cdn.jsdelivr.net/npm/timepicker@1.11.14/jquery.timepicker.min.js"></script>
  <!-- Jquery UI -->
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js" integrity="sha256-0YPKAwZP7Mp3ALMRVB2i8GXeEndvCq3eSl/WsAl1Ryk="
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js" integrity="sha256-xI/qyl9vpwWFOXz7+x/9WkG5j/SVnSw21viy8fWwbeE="
    crossorigin="anonymous"></script>
  <!-- Javascript files -->
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/cssDesign.js"></script>
</head>

<body>
  <section class="timeline">
    <ul>
      <li>
        <div>
          <time>April 30 2-3pm</time>
          <img src='https://avataaars.io/?avatarStyle=Transparent&topType=LongHairCurvy&accessoriesType=Kurt&hairColor=Brown&facialHairType=MoustacheMagnum&facialHairColor=Red&clotheType=GraphicShirt&clotheColor=Gray02&graphicType=Pizza&eyeType=EyeRoll&eyebrowType=AngryNatural&mouthType=Default&skinColor=Tanned' />
          BOB
          <img src='https://avataaars.io/?avatarStyle=Transparent&topType=ShortHairShortRound&accessoriesType=Prescription01&hairColor=SilverGray&facialHairType=BeardMedium&facialHairColor=Blonde&clotheType=ShirtScoopNeck&clotheColor=PastelYellow&graphicType=Pizza&eyeType=EyeRoll&eyebrowType=RaisedExcited&mouthType=Default&skinColor=Brown' />
          BILL
          <img src='https://avataaars.io/?avatarStyle=Circle&topType=WinterHat3&accessoriesType=Prescription02&hatColor=Red&hairColor=Brown&facialHairType=BeardMagestic&facialHairColor=Red&clotheType=Hoodie&clotheColor=PastelGreen&eyeType=Hearts&eyebrowType=SadConcernedNatural&mouthType=Vomit&skinColor=Brown' />
          Jason
        </div>
      </li>
      <li>
        <div>
          <time>April 31 2-3pm</time>
          <img src='https://avataaars.io/?avatarStyle=Circle&topType=LongHairBigHair&accessoriesType=Kurt&hatColor=PastelGreen&hairColor=Brown&facialHairType=MoustacheFancy&facialHairColor=Platinum&clotheType=CollarSweater&clotheColor=Gray02&eyeType=Side&eyebrowType=DefaultNatural&mouthType=Default&skinColor=DarkBrown' />
          <img src='https://avataaars.io/?avatarStyle=Circle&topType=LongHairBigHair&accessoriesType=Kurt&hatColor=PastelGreen&hairColor=Brown&facialHairType=MoustacheFancy&facialHairColor=Platinum&clotheType=CollarSweater&clotheColor=Gray02&eyeType=Side&eyebrowType=DefaultNatural&mouthType=Default&skinColor=DarkBrown' />
          <img src='https://avataaars.io/?avatarStyle=Circle&topType=LongHairBigHair&accessoriesType=Kurt&hatColor=PastelGreen&hairColor=Brown&facialHairType=MoustacheFancy&facialHairColor=Platinum&clotheType=CollarSweater&clotheColor=Gray02&eyeType=Side&eyebrowType=DefaultNatural&mouthType=Default&skinColor=DarkBrown' />
        </div>
        </div>
      </li>
      <li>
        <div>
          <time>April 32 2-3pm</time>
          <img src='https://avataaars.io/?avatarStyle=Circle&topType=LongHairCurvy&accessoriesType=Kurt&hairColor=Brown&facialHairType=MoustacheMagnum&facialHairColor=Red&clotheType=GraphicShirt&clotheColor=Gray02&graphicType=Pizza&eyeType=EyeRoll&eyebrowType=AngryNatural&mouthType=Default&skinColor=Tanned' />
          <img src='https://avataaars.io/?avatarStyle=Circle&topType=LongHairCurvy&accessoriesType=Kurt&hairColor=Brown&facialHairType=MoustacheMagnum&facialHairColor=Red&clotheType=GraphicShirt&clotheColor=Gray02&graphicType=Pizza&eyeType=EyeRoll&eyebrowType=AngryNatural&mouthType=Default&skinColor=Tanned' />
          <img src='https://avataaars.io/?avatarStyle=Circle&topType=LongHairCurvy&accessoriesType=Kurt&hairColor=Brown&facialHairType=MoustacheMagnum&facialHairColor=Red&clotheType=GraphicShirt&clotheColor=Gray02&graphicType=Pizza&eyeType=EyeRoll&eyebrowType=AngryNatural&mouthType=Default&skinColor=Tanned' />
          <img src='https://avataaars.io/?avatarStyle=Circle&topType=LongHairCurvy&accessoriesType=Kurt&hairColor=Brown&facialHairType=MoustacheMagnum&facialHairColor=Red&clotheType=GraphicShirt&clotheColor=Gray02&graphicType=Pizza&eyeType=EyeRoll&eyebrowType=AngryNatural&mouthType=Default&skinColor=Tanned' />
        </div>
        </div>
      </li>
    </ul>
  </section>
  <button class="corner-button">
    <span>I'M IN</span>
  </button>
</body>

</html>