<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <title>Home Page</title>
</head>

<body id='congratuation'>
    <div>
        <h1>Congratuation!!!</h1>
        <input type="text" d="urls" value=<%=url %>>
        <button id='copyButton'>Copy text</button>
    </div>
</body>

</html>